*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1C1C;
  list-style:initial;
  text-decoration: none;
}

.center{
  position: relative;
  display: block;
  background-color: #1C1C1C;
  height: 80px;
  width: 100%;
}

html,body{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-image: url("img/Wallpaper.png");
}

hr{
  position: relative;
  border-color: #4e4a4a;
}

.menu{
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}

.logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo h1 a{
  color: #05A869;
  font-size: 35px;
}

nav{
  float: right;
  height: 100%;
}

nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 28px 20px;
}

nav a:last-child{
  padding-right: 0;
}

nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #EFEFEF;
}

nav a li span{
  color: #05A869;
}

h1{
  display: table;
  margin-left: 565px;
  font-size: 45px;
  color: #05A869;
}

h2{
  display: table;
  text-align: justify;
  margin: auto;
  color: #05A869;
  font-size: 20px;
}

section{ 
  background-color: transparent;
}

section h1{
  display: table;
  margin: auto;
  margin-top: 30px;
  font-size: 34px;
}

section img{ 
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.Jogar, .Assistir, .Malhar, .Cozinhar{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 80px;
  margin-top: 35px;
}

.Jogar, .Assistir, .Malhar, .Cozinhar figcaption{
  color: #EFEFEF;
  font-size: 18px;
}

.Jogar figcaption span{
  color: #05A869;
  font-size: 22px;
  animation: fadein 2s;
}

.Assistir figcaption span{
  color: #05A869;
  font-size: 22px;
  animation: fadein 2s;
}

.Malhar figcaption span{
  color: #05A869;
  font-size: 22px;
  animation: fadein 2s;
}

.Cozinhar figcaption span{
  color: #05A869;
  font-size: 22px;
  animation: fadein 2s;
}

.Jogar{
  animation: slide 2s;
}

.Assistir{
  animation: slide 2s;
}

.Malhar{
  animation: slide 1s;
}

.Cozinhar{
  animation: slide 1s;
}

section li{
  align-items: center;
  text-align: justify;
  animation: fadein 3s;
  background-color: transparent;
}

section ul{
  margin-top: 15px;
}

@keyframes slide{
  0% {transform: translateX(-125px)}
  100% {transform: translateX(0px)}
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadein{
  0% {opacity: 0}
  65% {opacity: 0}
  100% {opacity: 1}
}
